
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot'); /* IE9*/
  src: url('../fonts/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tengxunweibo:before { content: "\e601"; }

.icon-shezhi:before { content: "\e600"; }

.icon-jia:before { content: "\e602"; }

.icon-shoucang:before { content: "\e619"; }

.icon-QQ:before { content: "\e607"; }

.icon-shafa:before { content: "\e657"; }

.icon-yejianmoshi:before { content: "\e682"; }

.icon-weibo:before { content: "\e64f"; }

.icon-bianji:before { content: "\e60a"; }

.icon-jian:before { content: "\e62a"; }

.icon-back:before { content: "\e697"; }

.icon-moreunfold:before { content: "\e6a6"; }

.icon-more:before { content: "\e6a7"; }

.icon-fenxiang:before { content: "\e6d2"; }

.icon-fuzhi:before { content: "\e643"; }

.icon-pinglun:before { content: "\e61f"; }

.icon-comiisrijianmoshi:before { content: "\e620"; }

.icon-xinxi:before { content: "\e604"; }

.icon-dianzan:before { content: "\e60c"; }

.icon-lixianwenjian:before { content: "\e621"; }

.icon-instapaper:before { content: "\e8f2"; }

.icon-bianxie:before { content: "\e640"; }

.icon-shouyeshouye:before { content: "\e629"; }

.icon-xiaoxi:before { content: "\e6bd"; }

.icon-downdouble:before { content: "\e67e"; }

.icon-updouble:before { content: "\e688"; }

.icon-yinxiangbiji:before { content: "\e695"; }

.icon-youdaoyunbiji:before { content: "\e69c"; }

.icon-weixinpengyouquan:before { content: "\e642"; }

.icon-duotu:before { content: "\e63a"; }

.icon-fenlei:before { content: "\e63f"; }

.icon-weixinhaoyou:before { content: "\e656"; }

.icon-rijian:before { content: "\e66b"; }


