border-1px($color)
  position relative
  &:after
    display block
    position absolute
    width 100%
    left 0
    bottom 0
    border-top 1px solid $color
    content ' '

border-none()
  &:after
   display none

bg-image($url)
  background-image url($url + ".png")

